<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samstnet.com.kaz">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:name=".eventbus.Customer"

        android:icon="@mipmap/ic_launcher_zack"
        android:label="콩과잭나무"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Lovestatetime"
            android:enabled="true"
            android:exported="true"></service>
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:noHistory="true">
        </activity>
        <activity android:name=".menu2_store.PopupActivity" android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true"
            android:noHistory="true"/>
        <activity android:name=".menu2_store.PopupActivity2" android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true"
            android:noHistory="true"/>
        <activity android:name=".lockscreen.LockScreenActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <service android:name=".lockscreen.ScreenService"
            android:screenOrientation="portrait"/>
        <service android:name=".alarm.mAlarm"/>
        <service android:name=".alarm.NonDisturb"/>

        <receiver android:name=".alarm.AlarmDisturb"/>

        <service android:name=".Service.ExampleService" />
        <!-- BackgroundService -->
        <receiver
            android:name=".alarm.AlarmBroadcastReceiver"/>
        <receiver android:name=".lockscreen.ScreenReceiver"/>
        <receiver android:name=".Lovestate"/>

    </application>


</manifest>